[submodule "submodules/iwer"]
	path = submodules/iwer
	url = https://github.com/mommysgoodpuppy/immersive-web-emulation-runtime.git
	branch = petplay
[submodule "submodules/xr"]
	path = submodules/xr
	url = https://github.com/mommysgoodpuppy/xr.git
	branch = petplay
[submodule "submodules/uikit"]
	path = submodules/uikit
	url = https://github.com/pmndrs/uikit.git
	branch = main
