[submodule "submodules/three.js"]
	path = submodules/three.js
	url = https://github.com/cabanier/three.js.git
	branch = webgpu_webxr
[submodule "submodules/iwer"]
	path = submodules/iwer
	url = https://github.com/meta-quest/immersive-web-emulation-runtime.git
[submodule "submodules/xr"]
	path = submodules/xr
	url = https://github.com/pmndrs/xr.git
[submodule "submodules/uikit"]
	path = submodules/uikit
	url = https://github.com/pmndrs/uikit.git
[submodule "submodules/react-three-fiber"]
	path = submodules/react-three-fiber
	url = https://github.com/pmndrs/react-three-fiber.git
[submodule "submodules/three-msdf-text-utils"]
	path = submodules/three-msdf-text-utils
	url = https://github.com/leochocolat/three-msdf-text-utils.git
